body{
    background-color: #400000;
    color:goldenrod;
}

.sidebar{
    position:fixed;
    left:0;
    top:0;
    height: 100vh;
    width: 200px;
    border-right: 2px solid goldenrod;
    padding-top:40px
}

.nav-list{
    list-style-type: none;
}

.nav-list li{
    margin: 20px;
}   

.nav-list li a{
    color: goldenrod;
    text-decoration: none;
}

.main-content{
    margin-left: 220px;
    padding: 40px;
}

