body{
    background-color: #400000;
    color:goldenrod;
}

.sidebar{
    position:fixed;
    left:0;
    top:0;
    height: 100vh;
    width: 200px;
    border-right: 2px solid goldenrod;
    padding-top:40px
}

.nav-list{
    list-style-type: none;
}

.nav-list li{
    margin: 20px;
}   

.nav-list li a{
    color: goldenrod;
    text-decoration: none;
}

.main-content{
    margin-left: 220px;
    padding: 40px;
}

.section{
    min-height: 100vh;
    padding-top:40px;
    border-bottom: 1px solid goldenrod;
}

.about-box{
    border:3px solid goldenrod;
    padding: 20px;
    border-radius:15px;
    margin-top: 20px;
    box-shadow: 4px 6px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-box:hover{
    transform:translateY(-8px);
    box-shadow:6px 10px 12px rgba(0,0,0,0.25);
}

.contact-box{
    background-color:goldenrod;
    color:#400000;
    padding:25px;
    margin:30px auto;
    max-width:450px;
    border-radius:10px;
    text-align:center;
}  
