html{
    scroll-behavior: smooth;

}

*{
    box-sizing:border-box;
}

body{
    background-color: #400000;
    color:goldenrod;
    font-family:"Libre Baskerville", serif;
}

h1{ 
    font-family:"Bebas Neue", sans-serif;
    font-size:clamp(2rem, 1rem + 2vw, 2.8rem);
    color:goldenrod;
    letter-spacing:2px;
    margin-bottom:20px;
}

h2, h3, h4{
    font-family:"Libre Baskerville", serif;
    color:goldenrod;
    margin-bottom:25px;
}

h2{
    font-size:clamp(2rem, 1.2rem + 2vw, 3rem);
}


h3{

    font-size:clamp(1.6rem, 1rem + 1.5vw, 2.3rem);
}



h4{

    font-size:clamp(1.2rem, 0.9rem + 1vw, 1.7rem);
}



p{
    font-size:0.95rem;
    line-height:1.7;
    color:goldenrod;
    margin-bottom:10px;
}

.sidebar{
    position:fixed;
    left:0;
    top:0;
    height: 100vh;
    width: 200px;
    border-right: 2px solid goldenrod;
    padding-bottom:150px;
    display:flex;
    align-items:center;
}

.nav-list{
    list-style-type: none;
}

.nav-list li{
    margin: 20px;
    flex-direction:column;
    gap:25px;
}   

.nav-list li a{
    color: goldenrod;
    text-decoration: none;
}

.main-content{
    margin-left: 220px;
    padding: 40px;
}

.section{
    min-height: 100vh;
    padding-top:40px;
    padding-bottom: 120px;
    border-bottom: 1px solid goldenrod;
}

.about-box{
    border:3px solid goldenrod;
    padding: 20px;
    border-radius:15px;
    margin-top: 20px;
    box-shadow: 4px 6px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-box:hover{
    transform:translateY(-8px);
    box-shadow:6px 10px 12px rgba(0,0,0,0.25);
}

.contact-box{
    background-color:goldenrod;
    color:#400000;
    padding:25px;
    margin:30px auto;
    max-width:450px;
    border-radius:10px;
    text-align:center;
}  

.contact-box p{
    color:#400000;
}

.email-link{
    display:inline-block;
    margin-top:15px;
    padding:10px 15px;
    background-color:#400000;
    color:goldenrod;
    text-decoration:none;
    border-radius:5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.email-link:hover{

    background-color: #2b0000;
}

.skills1-box,
.skills2-box,
.skills3-box{
    border:3px solid goldenrod;
    padding: 20px;
    border-radius:15px;
    margin-top: 20px;
    box-shadow: 4px 6px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skills1-box:hover,
.skills2-box:hover,
.skills3-box:hover{
    transform:translateY(-8px);
    box-shadow:6px 10px 12px rgba(0,0,0,0.25);
}

.drawings-box{
    border:3px solid goldenrod;
    padding: 20px;
    border-radius:15px;
    margin-top: 20px;
    box-shadow: 4px 6px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display:flex;
    gap:20px;
    flex-wrap:wrap;
    justify-content:center;
    max-width:700px;
    margin-left:auto;
    margin-right:auto;
}

.drawings-box:hover{
    transform:translateY(-8px);
    box-shadow:6px 10px 12px rgba(0,0,0,0.25);
}

.aboutme-box{
    border:3px solid goldenrod;
    padding:20px;
    border-radius:15px;
    margin-top:20px;
    margin-bottom:40px;
    box-shadow:4px 6px 8px rgba(0,0,0,0.2);
    transition:transform 0.3s ease, box-shadow 0.3s ease;
    display:flex;
    gap:20px;
    flex-wrap:wrap;
    justify-content:center;
    max-width:700px;
    margin-left:auto;
    margin-right:auto;

}

.aboutme-box:hover{
    transform:translateY(-8px);
    box-shadow:6px 10px 12px rgba(0,0,0,0.25);
}

.projects-box{
    border:3px solid goldenrod;
    padding:20px;
    border-radius:15px;
    margin-top:20px;
    margin-bottom:30px;
    box-shadow:4px 6px 8px rgba(0,0,0,0.2);
    transition:transform 0.3s ease, box-shadow 0.3s ease;

}

.projects-box:hover{
    transform:translateY(-8px);
    box-shadow:6px 10px 12px rgba(0,0,0,0.25);
}

video{
    display:block;
    width:70%;
    height:420px;
    margin:30px auto;
    border:3px solid goldenrod;
    border-radius:15px;
    justify-content:center;
    max-width:770px;
    margin-left:auto;
    margin-right:auto;
}

.game-link{
    display:block;
    width:fit-content;
    margin:0 auto;
    background-color:goldenrod;
    color:#400000;
    padding:12px 20px;
    text-decoration:none;
    border-radius:10px;
    font-weight:bold;
    transition:0.3s;
}

.game-link:hover{
    background-color:darkgoldenrod;
    color:white;
}

body{
    animation:fadeIn 1.5s ease;
}


@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(15px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}